<!doctype html>
<html>
  <head>
    <title>My AngularJS App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="js/Table.js"></script>
    <script src="js/filter.js"></script>
    <script src="js/AjaxService.js"></script>
    <script src="js/CustomDirective.js"></script>
    <script src="js/d3.js"></script>
    <link href="css/mystyles.css" rel="stylesheet">
  </head>
  <body ng-app="mymodule" class="alignment" onload="myFunction()">
      <div id = "ddd"  style="height:410px;"></div>
      <div ng-include="'welcome.html'"></div>
      <div ng-controller = "tablecontroller">
        <div my-Directive></div>
        Table:<input type="checkbox" ng-model="showTable"/>
        List:<input type="checkbox" ng-model="showList"/><br/><br/>
        <div ng-show="showTable">
        Search: <input type="text" ng-model="searchtext"/> <br/><br/>
        <strong>You typed:{{searchtext}}</strong><br/><br/>
        Rows to Display:<input type="number" step="1" min=0 max=5 ng-model="rowlimit"/><br/><br/>
        <table>
          <thead>
              <th>Name</th>
              <th>Gender</th>
              <th>Nationality ID</th>
              <th>Likes</th>
              <th>Dislikes</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr ng-repeat="employee in employees | limitTo:rowlimit | filter:searchtext | orderBy:'name'">
                <td>{{employee.name}}</td>
                <td>{{employee.gender | gender }}</td>
                <td>{{employee.National_ID}}</td>
                <td>{{employee.likes}}</td>
                <td>{{employee.Dislikes}}</td>
                <td>
                    <input type="button" ng-click="like(employee)" value="Like"/>
                    <input type="button" ng-click="Dislike(employee)" value="Dislike"/>
                </td>
             </tr>
            </tbody>
          </table>
        </div>
        <div ng-show="showList">
            <ol>
              <li ng-repeat="employee in info"> 
               {{employee.Name}}   
                <ul>
                   <li>{{employee.City}}</li>
                   <li>{{employee.Country}}</li>
                </ul> 
            </li>
            </ol>
        </div>
      
      <button ng-show ="showList" id="bottom" ng-click ="scroll('top')" class="btn btn-primary" > Go to top</button>
      
      
      <div>
           {{data.time}}

    <br/>
    <button ng-click="updateTime()">update time - ng-click</button>
    <button id="updateTimeButton"  >update time</button>
      </div>
      </div>
     
    </body>
</html>
